@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import "./sass/variable.scss";

html, body {
    height: 100vh;
}

body {
    background-image: url("https://images.unsplash.com/photo-1507295386538-ddd5e86cd597?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80");
    background-size: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
#root {
    flex: 1 0 auto;
    min-height: 100%;
    margin-bottom: 50px;
}

.notFound {
    margin-top: 75px;
    text-align: center;

    img {
        height: 250px;
        width: 300px;
        margin-top: 25px;
    }
}

@import '~bootstrap/scss/bootstrap.scss';