@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import "./sass/variable.scss";

html, body {
    background: $background-color;
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#root {
    flex: 1 0 auto;
    min-height: 100%;
    padding-bottom: 70px;
    margin-bottom: 20px;
}

.notFound {
    margin-top: 75px;
    text-align: center;

    img {
        height: 250px;
        width: 300px;
        margin-top: 25px;
    }
}

@import '~bootstrap/scss/bootstrap.scss';