#packing-list-card {
    max-height: 400px;
    width: 350px;
    padding-left: 20px;
}

.list-group {
    max-height: 300px;
    margin: 0;
    overflow: auto;
    padding: 20px;
    text-indent: 10px;
}
