@import "../../sass/variable.scss";

.questionBox {
    margin: 0 auto;
    width: 600px;
    text-align: center;
    font-family: $text-font;
    font-size: 1.3em;
}


.container {
    display: flex;
}

.form-header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    text-align: center;
}
.button {
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
}
