@import "../../sass/variable.scss";

.questionBox {
    margin: 0 auto;
    width: 600px;
    text-align: center;
    font-family: $text-font;
    font-size: 1.3em;
}

.container {
    display: flex;
}

.form-header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    text-align: center;
}
.button {
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
}

.scroll-box {
    border: 1px solid #000;
    border-radius: 5px;
    height: 400px;
    width: 250px;
}

.clothes-list {
    max-height: 400px;
    margin: 0;
    overflow: auto;
    padding: 20px;
    text-indent: 10px;
}

#clothes-btn {
    margin-top: 5px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
}

