
.carousel {
    max-height: 80%;
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
}

.label {
    color: white;
    font-family: 'Shrikhand', cursive;
    font-size: 45px;
}

.label-text-dark {
    color: white;
    font-size: 30px;
    font-family: Josefin Sans, sans-serif;

}

.carousel-caption {
    top: 0;
    bottom: auto;
}
