@import "../../sass/variable.scss";

.scroll {
    min-height: 40vh;
    overflow-y: auto;
}

.card-body,
.card-header {
    text-align: center;
}

#new-trip, 
#new-itinerary {
background-color: $primary-color;
font-family: $title-font;
color: $light-text;
border: none;
margin: auto;
}

.title {
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}