@import "../../sass/variable.scss";

.scroll {
    min-height: 40vh;
    overflow-y: auto;
}

.greeting {
    font-family: 'Shrikhand', cursive;
    font-size: 50px;
    padding: 20px;
    color: #CE2D4F;
}
.card-body,
.card-header {
    text-align: center;
    font-family: $title-font;

}

#new-trip, 
#new-itinerary {
background-color: $primary-color;
font-family: $title-font;
color: $light-text;
border: none;
margin: auto;
}

.title {
    font-weight: bold;
}


ul {
    list-style: none;
    padding: 0;
}

li p {
    line-height: 1;
    margin-bottom: .5rem;
}